*.tar.gz

run/*
!run/*.sh

src/bin
src/**/bin

src/base/build
src/base/pb/lib

src/db_proxy_server/adapters
src/db_proxy_server/build
src/db_proxy_server/.clangd
src/db_proxy_server/libhiredis.a

src/http_msg_server/build
src/http_msg_server/.clangd

src/file_server/build
src/file_server/.clangd

src/login_server/build
src/login_server/.clangd

src/msfs/build
src/msfs/.clangd

src/msg_server/build
src/msg_server/.clangd

src/push_server/build
src/push_server/.clangd

src/route_server/build
src/route_server/.clangd

src/hiredis/hiredis-master

src/log4cxx/apache-log4cxx-0.10.0
src/log4cxx/apache-log4cxx-0.10.0.tar.gz

src/protobuf/bin
src/protobuf/include
src/protobuf/lib
src/protobuf/protobuf-2.6.1

src/protobuf/*
!src/protobuf/*.tar.gz
